$white: #fafafa;
$blue: #60879e;
$black: #313234;
$rounded: 2%;

* {
  box-sizing: border-box;
}

.messenger {
  width: 400px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e3e3e3;
  position: relative;
  z-index: 0;
  border: 2px solid $black;
  .bg {
    background-color: $blue;
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 0;
    top: 0;
  }
}
.chat {
  padding: 2%;
  width: 90%;
  height: 70%;
  background: $white;
  border: 2px solid $black;
  border-radius: $rounded;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.sendform {
  padding: 2%;
  width: 90%;
  height: 20%;
  background: $white;
  border: 2px solid $black;
  border-radius: $rounded;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .sendtext {
    resize: none;
    width: 90%;
    height: 70%;
  }
  .sendbut {
    align-self: flex-end;
    margin-top: 3%;
    width: 35%;
    height: 30%;
  }
}
.msg {
  margin: 1%;
  &__send {
    overflow: auto;
  }
  &__answer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
